#
node_modules/*
bower_components/*
vendor/*
tests/*
.idea/*
mysql/*

#
.sync-config.cson
.remote-sync.json
.editorconfig

#
GPATH
GRTAGS
[cCgGeE]tags
[cCgGeE]TAGS
.tags
tags
.DS_Store
._.DS_Store
.apdisk
Thumbs.db
*.swp
*.lck
*.lock
*.o
*.obj
*.*~
*~
